.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .about-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideFromBottom 1.5s ease forwards;
    h1 {
      font-size: 48px;
      font-family: "Space Mono", monospace;
      padding-top: 100px;
    }
  }
  .about-info {
    .about1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding-bottom: 5em;
    }
    animation: slideFromBottom 1.5s ease forwards;
    img {
      padding: 0px 20px 0px 20px;
      width: 50vw;
      height: auto;
    }
    .scris {
      cursor: default;
      padding-top: 5em;
      padding-bottom: 5em;
      h2 {
        width: fit-content;
        letter-spacing: 2px;
        padding-bottom: 2em;
        transition: 0.1s;
        &:hover {
          color: green;
          font-size: 28px;
        }
      }
      h3 {
        width: fit-content;
        transition: 0.1s;
        padding: 20px;
        letter-spacing: 1.5px;
        &:hover {
          color: lightgreen;
          font-size: 24px;
        }
      }
      b {
        transition: 0.1s;
        &:hover {
          color: lightgreen;
          font-size: 18px;
        }
      }
      p {
        padding: 10px;
        line-height: 1.4;
        letter-spacing: 1.5px;
        text-indent: 30px;
      }
    }
    .about2 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      img {
        padding: 0px 20px 0px 20px;
        width: 50vw;
        height: auto;
      }
    }
    .about_3 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20em;
      img {
        width: 70vw;
        height: auto;
      }
    }
    .about_4 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20em;
      padding-bottom: 10em;
      h1 {
        font-size: 90px;
        letter-spacing: 3px;
      }
      span {
        display: inline-block;
        height: 85px;
        width: 40px;
        background-color: black;
        animation: blink 0.8s linear infinite alternate;
      }
    }
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
