.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    .login-form-heading {
      left: 2px;
      animation: slideFromBottom 2.5s ease forwards;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin-top: 10px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    }
    form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      animation: slideFromBottom 2.5s ease forwards;
      .inputs-icons {
        input {
          position: relative;
          padding-left: 40px;
        }
        .icon {
          position: absolute;
          left: 30px;
          top: 28px;
          z-index: 999;
        }
      }
      a {
        color: black;
      }
      input {
        border: none;
        outline: none;
        padding: 10px;
        border-bottom: 2px solid black;
        margin: 20px;
        transition: 0.35s;
        &:active,
        &:focus,
        &:hover {
          border-color: rgb(148, 252, 138);
        }
      }
      #submit {
        border: none;
        margin-top: 20px;
        background-color: white;
        border: 2px solid black;
        border-radius: 40px;
        cursor: pointer;
      }
      .ad {
        left: 20px;
      }
    }
  }
  