.paginationButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.blog_posts {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 10em;
    animation: slideFromBottom 2s ease forwards;
    .blog_post {
        flex: 0 0 50%;
        padding: 20px;
        border: none;
        background-color: green;
        border-radius: 20px;
    }
}



@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

