.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  overflow-y: hidden;
  .contact-form-heading {
    animation: slideFromBottom 1.5s ease forwards;
    h2 {
      margin-bottom: 40px;
      font-size: 24px;
      font-family: 'Space Mono', monospace;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    animation: slideFromBottom 1.5s ease forwards;
    .text-email {
      display: flex;
      flex-direction: row;
      input {
        border: none;
        border-bottom: 2px solid black;
        margin: 15px;
        padding: 10px;
        transition: 0.35s;
        outline: none;
        &:active,
        &:focus,
        &:hover {
          border-color: rgb(148, 252, 138);
        }
      }
    }
    textarea {
      resize: none;
      border: none;
      margin: 10px;
      padding: 10px;
      height: 200px;
      border-left: 2px solid black;
      transition: 0.35s;
      outline: none;
      &:active,
      &:focus,
      &:hover {
        border-color: rgb(148, 252, 138);
      }
    }
    #submit {
      border: none;
      cursor: pointer;
      padding: 20px 15px;
      margin: 10px;
      margin-top: 40px;
      border-radius: 50px;
      border: 2px solid black;
      background-color: white;
      transition: 0.5s;
      font-size: 18px;
      &:focus,
      &:hover {
        color: white;
        background-color: rgb(148, 252, 138);
      }
    }
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
