@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.bg {
  position: absolute;
  width: 100%;
  z-index: 1;
}

hr {
  background-color: black;
  border: none;
  border-color: black;
}

.heading {
  background-image: url("./logos.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 18em;
  padding-bottom: 16em;
  animation: slideFromBottom 1.5s ease forwards;
  h3 {
    padding-top: 40px;
    font-size: 36px;
    color: black;
  }
  h1 {
    font-size: 118px;
    color: black;
    font-family: "Space Mono", monospace;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.whatwedo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  h2 {
    font-size: 48px;
    font-family: "Space Mono", monospace;
    padding-top: 5em;
    padding-bottom: 15px;
  }
  hr {
    width: 5%;
    color: rgb(45, 238, 45);
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    li {
      flex: 0 0 33.333333%;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h4 {
        color: #898ea1;
        text-align: center;
      }
      h3 {
        font-weight: bold;
        padding-bottom: 10px;
        font-family: "Space Mono", monospace;
      }
    }
  }
}
.sponsors {
  margin-bottom: 5em;
  .sponsor-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .sponsor {
      flex: 0 0 33.333333%;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      img {
        object-fit: contain;
        width: 400px;
        height: 200px;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  h2 {
    font-size: 48px;
    padding-top: 5em;
    padding-bottom: 15px;
    font-family: "Space Mono", monospace;
  }
  h4 {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #898ea1;
  }
  hr {
    width: 5%;
    color: rgb(45, 238, 45);
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  border: 0;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  background-color: white;
  transition: 0.5s;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: 0.3s;
  cursor: pointer;
  span {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    transition: 0.3s;
  }
  &:hover {
    span {
      color: rgb(45, 238, 45);
    }
  }
}

.members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
  flex-wrap: wrap;
  h2 {
    font-size: 48px;
    font-family: "Space Mono", monospace;
  }
  h3 {
    padding: 15px;
    font-size: 24px;
  }
  hr {
    margin-top: 1em;
    width: 25%;
    color: rgb(45, 238, 45);
  }
  img {
    width: 100px;
    height: 100px;
    clip-path: circle();
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    li {
      flex: 0 0 33.333333%;
      padding: 20px;
      h4 {
        font-size: 18px;
        font-weight: bold;
        font-family: "Space Mono", monospace;
        padding: 10px;
      }
      h5 {
        padding: 4px;
        font-size: 16px;
        color: #898ea1;
      }
    }
  }
}

.footer {
  margin-top: 15em;
  height: 600px;
  background-image: url("../../assets/Images/footer-new.svg");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .icon-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 70px;
    svg {
      font-size: 20px;
      margin-bottom: 20px;
      color: black;
    }
    justify-content: center;
    hr {
      height: 50px;
      border: none;
      border-color: black;
      background-color: black;
      width: 2px;
    }
  }
  .section-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    h2 {
      margin-bottom: 30px;
      font-weight: bold;
      font-family: "Space Mono", monospace;
    }
    a {
      text-decoration: none;
      margin-bottom: 20px;
      color: black;
    }
  }
}

/////////////////////// RESPONSIVE //////////////////////

///NAVBAR///

@media only screen and (max-width: 600px) {
  .navbar.responsive {
    animation: navbarAnimation 1s ease forwards;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 123312;
    background-color: white;
    width: 100vw;
    height: 110vh;
    text-align: center;
    .nothing {
      display: flex;
      flex-direction: column;
    }
    img {
      display: none;
    }
    li {
      display: block;
      margin: 15px;
      padding: 0;
      text-align: left;
    }
  }
  .navbar {
    display: inline-flex;
    z-index: 100000;
    .not-displayed {
      display: none;
    }
    .icon {
      display: block;
      float: right;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  ////////

  ///HEADING///

  .heading {
    text-align: center;
    padding-bottom: 11em;
    h1 {
      font-size: 60px;
    }
  }

  /////////////

  ///WHATWEDO///

  .whatwedo {
    padding: 0;
    ul {
      li {
        flex: none;
      }
    }
  }

  //////////////

  ///MEMBERS///

  .members {
    text-align: center;
  }

  /////////////

  ///SPONSORS///

  .sponsors {
    text-align: center;
    .sponsor-list {
      .sponsor {
        img {
          object-fit: scale-down;
        }
      }
    }
  }

  //////////////

  ///FOOTER///

  .footer {
    .icon-list {
      img {
        width: 155px;
        height: 65px;
      }
    }
    .section-list {
      text-align: center;
    }
  }

  ////////////

  ///BLOG///

  .blog_posts {
    .blog_post {
      flex: 1 0 185%;
      flex-direction: column;
      border-radius: none;
    }
  }

  //////////

  ///AWARDS///

  .awards {
    ul {
      hr {
        display: none;
      }
    }
  }

  ////////////

  ///CONTACT///

  .contact-form {
    form {
      .text-email {
        input {
          margin: 8px;
          padding: 5px;
        }
      }
    }
  }

  /////////////
}

@media only screen and (min-width: 600px) {
  ///HEADING///
  .heading {
    padding-top: 7em;
    text-align: center;
    h1 {
      font-size: 100px;
    }
  }
  /////////////

  ///SPONSORS///
  .sponsors {
    .sponsor-list {
      .sponsor {
        flex: 1 0 33.333333%;
      }
    }
  }
  ///////////////

  ///FOOTER///

  .footer {
    .icon-list {
      img {
        height: 107px;
        width: 255px;
      }
    }
  }

  ////////////

  ///BLOG///

  .blog_posts {
    .blog_post {
      flex: 1 0 40%;
      margin: 15px;
    }
  }

  //////////

  ///AWARDS///
  .awards {
    ul {
      hr {
        display: none;
      }
    }
  }
  ////////////
}

@media only screen and (min-width: 768px) {
  ///HEADING///
  .heading {
    padding-top: 20em;
  }
  /////////////
}

@media only screen and (min-width: 1200px) {
  ///AWARDS///

  .awards {
    ul {
      hr {
        display: block;
        height: 108%;
      }
    }
  }

  ////////////
}

//////////////////////////////////////////////////////////

@keyframes navbarAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
