.alumni-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: slideFromBottom 1.5s ease forwards;
    h2 {
        font-size: 48px;
        font-family: 'Space Mono', monospace;
    }
    padding-top: 100px;
}

.alumni-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  animation: slideFromBottom 1s ease forwards;
  .alumni {
    display: flex;
    flex: 0 0 33.333333%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: .1s;
    img {
      clip-path: circle();
      width: 100px;
      height: auto;
    }
    h4 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    h3{
      padding-top: 10px;
    }
    p{
      padding-top: 20px;
      padding-bottom: 10em;
    }
    hr {
      width: 50%;
      height: 1px;
    }
  }
}


@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
