.alumni-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
  flex-wrap: wrap;
  animation: slideFromBottom 2.5s ease forwards;
  h2 {
    font-size: 48px;
    font-family: 'Space Mono', monospace;
  }
  h3 {
    padding: 15px;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
  }
  hr {
    margin-top: 1em;
    width: 25%;
    color: rgb(45, 238, 45);
  }
  img {
    width: 100px;
    height: 100px;
    clip-path: circle();
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    li {
      flex: 0 0 33.333333%;
      padding: 20px;
      h4 {
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        font-family: 'Space Mono', monospace;
      }
      h5 {
        padding: 4px;
        font-size: 16px;
        color: #898ea1;
      }
    }
  }
}

.alumni-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: slideFromBottom 2.5s ease forwards;
    hr{
        width: 5%;
    }
    h2 {
        font-size: 48px;
        font-family: 'Space Mono', monospace;
    }
    padding-top: 100px;
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
