.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideFromBottom 2.5s ease forwards;
  li {
    padding: 0px 20px 0px 20px;
    a,
    span {
      text-decoration: none;
      color: black;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: rgb(148, 252, 138);
        transform: scale(1.2);
      }
    }
  }
  .links {
    display: flex;
    flex-direction: row;
  }
  .icon {
    display: none;
  }
  .logo {
    padding-top: 5px;
    width: 90px;
    height: 50px;
  }
  z-index: 2;
  .content1 {
    align-items: center !important;
  }
}


@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
