@import './utils/variabile/font.scss';
@import './Pages/Awards/awards.scss';
@import './Pages/Blog/blog.scss';
@import './Pages/Home/home.scss';
@import './Pages/Login/login.scss';
@import './Pages/Register/register.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
     overflow-x: hidden;
}

