@import './utils/variabile/font.scss';
@import './pages/alumni/alumniList.scss';
@import './pages/awards/awards.scss';
@import './pages/blog/blog.scss';
@import './pages/contact/contact.scss';
@import './pages/home/home.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
     overflow-x: hidden !important;
}
